@media screen and (max-width: 1200px) {
  .requi_block .object {
    height: 370px;
  }
  .work_end .object p,
  .work_process .object p,
  .requi_block .object p {
    font-size: 15px;
  }
  .work_end .object img,
  .work_process .object img,
  .requi_block .object img {
    left: 30px;
  }
  .advantages .adv p {
    font-size: 17px;
  }
  ul.navigations li a {
    padding: 20px 2px;
  }
}
@media screen and (max-width: 992px) {
  .advantages .adv p {
    font-size: 15px;
  }
  .work_end .object,
  .work_process .object {
    height: 430px;
  }
  .footer .footer_grad p {
    font-size: 13px;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
  }
  .boss .boss_content {
    min-height: 180px;
  }
  .rg_bl {
    display: none;
  }
  .logo img {
    display: block;
    width: 215px;
    margin: 0 auto;
  }
  ul.navigations {
    text-align: center;
  }
  .header .contacts_header {
    margin-bottom: 20px;
  }
  ul.navigations .menu-item:hover .sub-menu {
    z-index: 2;
  }
}
@media screen and (max-width: 768px) {
  .advantages .adv p {
    font-size: 18px;
  }
  .boss .boss_content {
    min-height: auto;
  }
  .requi_block {
    margin-bottom: 100px;
  }
  .requi_block .object {
    height: auto;
  }
  .work_end .object,
  .work_process .object {
    margin-bottom: 40px;
    height: auto;
  }
  .footer .footer_grad .logo_footer {
    height: 150px;
  }
  .mission .miss_content p {
    text-shadow: 1px 1px 1px #000, 1px 1px 80px #fff;
  }
  .sl .sl_slide .sl_text .sl_head {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .work_end .object img,
  .work_process .object img,
  .requi_block .object img {
    display: none;
  }
  .advantages .adv p {
    font-size: 16px;
  }
  .sl .sl_slide .sl_text .sl_head {
    font-size: 30px;
  }
}
@media screen and (max-width: 380px) {
  .licenses .sert img.img_first,
  .licenses .lab img.img_second {
    display: none;
  }
  .processed h3,
  .finished h3 {
    font-size: 22px;
    text-align: center;
  }
  .processed .bg_processed h2,
  .finished .bg_processed h2,
  .processed .bg_finished h2,
  .finished .bg_finished h2 {
    text-align: center;
    font-size: 40px;
  }
  .mission .miss_content p {
    font-size: 16px;
  }
  .advantages .adv p {
    font-size: 15px;
  }
  .sl .sl_slide .sl_text .sl_head {
    font-size: 23px;
    left: 60px;
    width: 260px;
    text-align: center;
  }
  ul.navigations li {
    display: block;
  }
  ul.navigations .menu-item:hover .sub-menu li {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .requi_block .object p {
    padding: 10px 20px;
  }
  .sl .sl_slide .sl_text .sl_head {
    font-size: 22px;
    left: 30px;
    width: 260px;
    top: -70px;
  }
  .sl .sl_slide .sl_text .sl_more {
    top: 10px;
    left: 90px;
  }
}
